@font-face {
    font-family: OpenSans;
    src: url(fonts/OpenSans-Regular.woff);
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
  font-family: OpenSans;
    src: url(fonts/OpenSans-Bold.woff);
    font-weight: 900;
    font-style: normal;
  }
  body {
    margin: 0;
    font-family: OpenSans, Arial, san-serif;
    overflow-x: hidden;
  }
 
.header {
  display: flex;
  width: 100%;
  background-image: url("../images/football_767.jpg");
  background-color: #000000;
  background-repeat: no-repeat;
  background-position: center 0;
  position: relative;
  justify-content: center;
  }
  
.header::after {
  content: "";
  position: absolute;
  background-color: #191d3c;
  opacity: 0.9;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.header-container { 
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  margin-top: 30px;
  margin-bottom: 135px;
  justify-content: center;
 }
.header-logo {
 width: 135px;
 fill: #ffffff;
 } 
.header-title {
 margin-top: 140px;
 text-transform: uppercase;
 }
.header_label1 {
 color: #ffffff;	
 font-size: 20px;
 display: block;	
}
.header_label2 {
 margin-top: 25px;
 margin-left: 65px;
 color: #ffffff;	
 font-size: 20px;
 display: block;	
 }

.header_label3 {
 margin-left: 65px;
 margin-top: 10px;	
 color: #ffffff;	
 font-size: 20px;
 display: block;
 }
.buttons {
  display: flex;
  flex-direction: column;
  margin-top: 90px;
}
.button {
  background-color: #5e42b0;
  display: block;
  width: 300px;
  height: 35px;
  border-radius: 30px;
  margin-bottom: 15px;	
}
.btn apple-button {
 text-decoration: none;	
 }
.apple-logo {
 width: 21px;
 height: 21px;
 fill: #ffffff;
}
.button-info{
  display: flex;
  padding-left: 100px;
  margin-top: 5px;
 }
.icon-information{
 display: flex;
 flex-direction: column;
 margin-left: 7px;
 }
.icon-text{
  text-transform: uppercase;
  text-decoration: none;
  text-align:  left;
  color: #ffffff;
  font-size: 12px;
}
.icon-text appstore{
  text-transform: uppercase;
  text-decoration: none;
  text-align:  left;
  color: #ffffff;
  font-size: 12px;
}
.athletes {
  display: flex;
  width: 100%;
  background-image: url("../images/footballer_192.png");
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center 0;
  position: relative;
  justify-content: center;
  }
.athletes::after {
  content: "";
  position: absolute;
  background-color: #ffffff;
  opacity: 0;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

